<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="OnBreakEntities" connectionString="metadata=res://*/ModeloOnBreak.csdl|res://*/ModeloOnBreak.ssdl|res://*/ModeloOnBreak.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MCK7M62\SQLEXPRESS;initial catalog=OnBreak;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>